<ul class="nav d-flex align-items-center gap-2">
    <li class="nav-item me-auto">
      <a class="nav-link active" aria-current="page" routerLink="">
        <img src="../../assets/logo.png" alt="" srcset="">
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Pages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Blogs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">
        <i class="bi bi-search"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link Forcart" routerLink="">
        <i class="bi bi-cart4"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-4 paddColor" routerLink="">Contact</a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="">Gallery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Quality</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">about Us</a>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="">Contact Us</a>
    </li> -->
    <!-- <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="">
              <i class="bi bi-facebook"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">
              <i class="bi bi-whatsapp"></i>
            </a>
          </li>
    </ul> -->
</ul>