<ul class="nav d-flex align-items-center justify-content-evenly">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="">
        <img src="../../assets/logo.png" alt="" srcset="">
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Gallery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Quality</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">about Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Contact Us</a>
    </li>
    <!-- <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="">
              <i class="bi bi-facebook"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">
              <i class="bi bi-whatsapp"></i>
            </a>
          </li>
    </ul> -->
</ul>